
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="text-center"><h2>Evaluación de curso</h2></div>
<div class="row">&nbsp;</div>
<div class="text-center"><p>Ingrese el código dado por el evaluado.</p></div>
<div class="col-lg-12"><input type="text" class="form-control" style="width:200px; margin: 0 auto;"></div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="col-lg-12 text-center"><button class="btn ">Comenzar Evaluación</button></div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="panel panel-default">
    <div class="panel-body">
        
        <div class="col-lg-12"><h4>Nombre del curso:<i><span> Curso de prueba</span></i></h4></div>
        <div class="col-lg-12"><h4>Secció del curso:<i><span> A</span></i></h4></div>
        <div class="col-lg-12"><h4>Nombre del catedrático:<i><span> Catedrático1</span></i></h4></div>  
    </div>
</div> 
