
@{
    ViewBag.Title = "Catedratico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="text-center"><h2>Reporte por catedrático</h2></div>
<br />
<div class="text-center"><h4>Seleccione el año.</h4></div>
<div class="dropdown text-center">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="ddlAno">
    Todos los años
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
<br />
<br />
<div class="text-center"><h4>Seleccione el mes.</h4></div>
<div class="dropdown text-center">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="ddlMes">
    Todos los meses
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
<br />
<br />
<div class="text-center"><h4>Seleccione el catedratico.</h4></div>
<div class="dropdown text-center">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="ddlCatedratico">
    Debe seleccionar uno
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
<br />
<br />
<br />
<div class="col-lg-12 text-center"><button class="btn ">Ver Reporte</button></div>

