
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    &nbsp;
</div>
<div class="col-lg-12 text-right">Hora: 12:30:05</div><br>
<div class="col-lg-12 text-right"><a>Cerrar Sesion</a></div><br>
<div class="col-md-4"><br></div>
<div class="col-sm-12 text-rigt "><h1>Bienvenido, <spam>Hairo</spam></h1></div>
<div class="row">&nbsp;</div>
<h4>
    Cursos Asignados
</h4>
<div class="panel panel-default">
    <div class="panel-body text-center">
        <div class="row">&nbsp;</div>
        <div class="col-sm-12 text-center">
            <div class="col-sm-5 text-right">
                Curso 1:
            </div>
            <div class="dropdown col-sm-7 text-left">
                <button class="btn btnTam">Generar boleta</button>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="col-sm-12 text-center">
            <div class="col-sm-5 text-right">
                Curso 2:
            </div>
            <div class="dropdown col-sm-7 text-left">
                <button class="btn btnTam">Generar boleta</button>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="col-sm-12 text-center">
            <div class="col-sm-5 text-right">
                Curso 3:
            </div>
            <div class="dropdown col-sm-7 text-left">
                <button class="btn btnTam">Generar boleta</button>
            </div>
        </div>
    </div>
</div>


@*<div class="container">
    <div class="text-center"><h2>Panel decontrol</h2></div>
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">Generacón de boleta</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">  
            <h4>
                Cursos Asignados
            </h4>
            
        </div>
    </div>
</div>*@
